.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid teal;
    padding: 15px;
    margin-bottom: 20px;
    width: 800px;
    background-color: #fff;
}

.header {
    padding-right: 15px;
}

.title {
    display: flex;
}

.id {
    margin-right: 8px;
}

.post__name {}

.number {}

.body {}